* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: row;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chu-mon-icon {
  width: 30vw;
  margin-right: 10vw;
}

